<article class="{{post.class}}">
	{% block content %}
  <header>
    {% if post.thumbnail %}
    <p><img src="{{post.thumbnail.src}}" class="img-responsive" alt="{{post.title|e}}" /></p>
    {% endif %}

    {% if (fn('is_single')) %}
    <h1 class="entry-title">{{post.title}}</h1>
    {% else %}
    <h1 class="entry-title"><a href="{{post.link}}">{{post.title}}</a></h1>
    {% endif %}
  </header>
  <div class="entry-content">
    {{post.content}}
  </div>
  <footer>
  </footer>
	{% endblock %}
</article>
