<!doctype html>
<html class="no-js" {{site.language_attributes}}>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{function('wp_head')}}

  <!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>

  <style>
    body {
      font-family: Helvetica, Geneva, Arial, sans-serif;
    }
  </style>
  <![endif]-->
</head>