<header id="header" class="banner" role="banner">
	{% block header %}
		<div class="container">
		  {% if (primary_menu.get_items) %}
      <nav id="navigation" class="navbar navbar-default" role="navigation">
				<ul class="nav navbar-nav">
				{% for item in primary_menu.get_items %}
					<li class="nav-item {{item.classes | join(' ')}}">

						{% if item.get_children %}
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{item.title}} <span class="caret"></span></a>
						{% else %}
						<a href="{{item.get_link}}">{{item.title}}</a>
						{% endif %}

						{% if item.get_children %}
							<ul class="dropdown-menu">
							{% for child in item.get_children %}
								<li>
									<a href="{{child.get_link}}">{{child.title}}</a>
								</li>
							{% endfor %}
							</ul>
						{% endif %}
					</li>
				{% endfor %}
				</ul>
			</nav>
			{% endif %}
		</div>
	{% endblock %}
</header>