<form role="search" method="get" class="search-form form-inline" action="{{site.url}}">
  <label class="sr-only">{{__('Search for:', 'sage')}}</label>
  <div class="input-group">
    <input type="search" value="{{search_query}}" name="s" class="search-field form-control" placeholder="{{__('Search', 'sage')}}" required>
    <span class="input-group-btn">
      <button type="submit" class="search-submit btn btn-default">{{__('Search', 'sage')}}</button>
    </span>
  </div>
</form>
