body {
  text-rendering: optimizeLegibility;
}

.incompatibility-notice {
  margin: 0;
  border-radius: 0;
  border: 0;
  color: #fff;
  background-color: $brand-primary;

  a {
    color: #fff;
    text-decoration: underline;

    &:hover, &:active {
      text-decoration: none;
    }
  }
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
