{% extends "base.twig" %}

{% block content %}
  <article class="not-found hentry">
    <header>
      <h1 class="entry-title">{{__('404: Not found', 'sage')}}</h1>
    </header>
    <div class="entry-content">
      {{__('The requested content could not be found', 'sage')}}
  </article>
{% endblock %}