{% extends "base.twig" %}

{% block content %}
	{% if posts %}
  	{% for post in posts %}
  		{% include ['partials/content.twig'] %}
  	{% endfor %}
  {% else %}
    <article class="not-found hentry">
      <p class="alert alert-info">{{__('No posts found', 'sage')}}</p>
    </article>
  {% endif %}
{% endblock %}
