{% block head_container %}
{% include 'partials/head.twig' %}
	{% block head %}
	{% endblock %}
{% endblock %}

	<body class="{{body_class}}">
    <!--[if lt IE 9]>
      <div class="incompatibility-notice alert alert-warning">
        {{ __('You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.', 'sage') }}
      </div>
    <![endif]-->

    {% include 'partials/header.twig' %}

    <div class="wrap container" role="document">
      <div class="content row">
        <main class="main" role="main">
  				{% block content %}
  					{{__('Sorry, no content', 'sage') }}
  				{% endblock %}
        </main><!-- /.main -->
      </div><!-- /.content -->
    </div><!-- /.wrap -->

		{% block footer %}
			{% include 'partials/footer.twig' %}
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>
