{% extends "base.twig" %}

{% block content %}
  <article class="{{post.class}}">
    <header>
      {% if post.thumbnail %}
      <p><img src="{{post.thumbnail.src}}" class="img-responsive" alt="{{post.title|e}}" /></p>
      {% endif %}

      <h1 class="entry-title">{{post.title}}</h1>
    </header>
    <div class="entry-content">
      {{post.content}}
    </div>
    <footer>
    </footer>
  </article>
{% endblock %}